@font-face {
  font-family: 'Inter';
  src: url('../../shared/assets/fonts/Inter-Regular.woff2') format('woff2'),
  url('../../shared/assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../shared/assets/fonts/Inter-Medium.woff2') format('woff2'),
  url('../../shared/assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../shared/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
  url('../../shared/assets/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../shared/assets/fonts/Inter-Bold.woff2') format('woff2'),
  url('../../shared/assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../shared/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
  url('../../shared/assets/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../../shared/assets/fonts/Inter-Black.woff2') format('woff2'),
  url('../../shared/assets/fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
