:host {
  display: flex;
  align-items: center;
}


.glow {
  color: var(--main-color);
  font-size: 40px;
  text-align: center;
  letter-spacing: 4px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-family: var(--font-family-anton);
  white-space: nowrap;

  &.bg {
    font-size: 40px;
  }

  &.md {
    font-size: 28px;
  }

  &.sm {
    font-size: 18px;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color), 0 0 15px var(--accent-color-2), 0 0 20px var(--accent-color-2), 0 0 25px var(--accent-color-2), 0 0 30px var(--accent-color-2), 0 0 35px var(--accent-color-2);
  }

  to {
    text-shadow: 0 0 10px var(--main-color), 0 0 15px var(--accent-color), 0 0 20px var(--accent-color), 0 0 25px var(--accent-color), 0 0 30px var(--accent-color), 0 0 35px var(--accent-color), 0 0 40px var(--accent-color);
  }
}
