.container {
  height: 100px;
  overflow: hidden;
  display: flex;
  align-content: center;
  font-family: var(--font-family-anton);
}

.wrapper {
  text-align: center;
  transform: rotateX(-90deg);
  transform-style: preserve-3d;
}

.numbers {
  height: 36px;
  width: 26px;
  padding: 0;
  position: relative;
  margin: auto;
  list-style-type: none;
  transform-style: preserve-3d;
  transform: rotateY(90deg);
  transition: all ease 0.5s;
  display: inline-block;

  li {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50%;
    width: 0;
    transform-style: preserve-3d;
    transform-origin: bottom;
    box-sizing: border-box;

    span {
      height: 30px;
      width: 30px;
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      font-size: 30px;
      line-height: 1.2;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transform: translateX(-50%) translateY(-40px) rotateX(90deg) rotate(90deg);
    }
  }

  @for $i from 0 through 9 {
    li:nth-child(#{$i + 1}) {
      transform: rotate(#{-$i*36}deg);
    }
  }

  &.hours {
    li {
      span {
        color: #76b041;
      }
    }
  }

  &.minutes {
    li {
      span {
        color: #17bebb;
      }
    }
  }

  &.seconds {
    li {
      span {
        color: #ffc914;
      }
    }
  }
}
