<div class="container" [ngClass]="size">
  <div *ngIf="timeModel$ | async as time" class="wrapper">
    <ul class="numbers hours" [style.transform]="getTransformStyle(time.hoursFirst)">
      <li *ngFor="let hourFirst of getRange(0, 9)" class="symbol-wrapper">
        <span class="symbol">{{ hourFirst }}</span>
      </li>
    </ul>

    <ul class="numbers hours" [style.transform]="getTransformStyle(time.hoursLast)">
      <li *ngFor="let hourLast of getRange(0, 9)" class="symbol-wrapper">
        <span class="symbol">{{ hourLast }}</span>
      </li>
    </ul>

    <ul class="numbers minutes" [style.transform]="getTransformStyle(time.minutesFirst)">
      <li *ngFor="let minuteFirst of getRange(0, 9)" class="symbol-wrapper">
        <span class="symbol">{{ minuteFirst }}</span>
      </li>
    </ul>
    <ul class="numbers minutes" [style.transform]="getTransformStyle(time.minutesLast)">
      <li *ngFor="let minuteLast of getRange(0, 9)" class="symbol-wrapper">
        <span class="symbol">{{ minuteLast }}</span>
      </li>
    </ul>

    <ul class="numbers seconds" [style.transform]="getTransformStyle(time.secondsFirst)">
      <li *ngFor="let secondFirst of getRange(0, 9)" class="symbol-wrapper">
        <span class="symbol">{{ secondFirst }}</span>
      </li>
    </ul>
    <ul class="numbers seconds" [style.transform]="getTransformStyle(time.secondsLast)">
      <li *ngFor="let secondLast of getRange(0, 9)" class="symbol-wrapper">
        <span class="symbol">{{ secondLast }}</span>
      </li>
    </ul>
  </div>
</div>
