@import "app/styles/minxins";

.container {
  position: relative;
}

.content {
  display: flex;
  align-items: center;
}

.clock-wrapper {
  display: flex;
  justify-content: center;

  &.bg {
    height: 100px;
  }

  &.md {
    height: 80px;
  }

  &.sm {
    height: 60px;
  }
}

.btn-settings {
  @include resetBaseStyles;
  background-color: transparent;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: var(--main-color);
  margin-left: 10px;
}
