@import "app/styles/minxins";

.container {
  position: relative;
  padding-bottom: 20px;
}

.content {
  display: flex;
}

.clock-wrapper {
  width: 160px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.btn-settings {
  @include resetBaseStyles;
  background-color: transparent;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: var(--main-color);
  margin-left: 10px;
}
