@import "app/styles/minxins";

.container {
    position: relative;
    padding-bottom: 20px;
}

.content {
  display: flex;
}

.btn-settings {
  @include resetBaseStyles;
  background-color: transparent;
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: var(--main-color);
  margin-left: 10px;
}
