.page-content {
  padding-left: var(--page-content-padding);
  padding-right: var(--page-content-padding);
  max-width: calc(1200px + var(--page-content-padding) * 2);
  margin-left: auto;
  margin-right: auto;
}
