@import "shared/styles/minxins";

.container {
  width: 200px;
  padding: 16px;
  border-radius: var(--border-radius-small);
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.form {
  margin-top: 10px;
}

.checkboxes-list {
  margin-top: 12px;
}

.title {
  @include resetBaseStyles;
}
