@import "app/styles/minxins";

:host {
  position: relative;
}

.popup-container {
  position: absolute;
  opacity: 0;
  bottom: 0;
  right: 0;
  transform: translateY(90%);
  transition: all var(--transition-duration-fast);
  pointer-events: none;
  width: 200px;
  padding: 16px;
  border-radius: var(--border-radius-small);
  background-color: var(--main-color);
  color: var(--secondary-color);
  z-index: var(--z-index-modal);

  &.show {
    transform: translateY(100%);
    opacity: 1;
    pointer-events: initial;
  }
}
.popup-content {

}
